-
  var books = [
    {
      img: `${pathContentImg}book-istrebitel-big.jpg`,
      author: 'Быков Д.',
      name: 'Истребитель',
      description: 'Роман о советских летчиках, &quot;соколах Сталина&quot;',
      rating: '3.9',
      link: '#',
      pagesAmount: '576', 
      width: '275',
      height: '320',
    },
    {
      img: `${pathContentImg}book-feelings-of-shame.jpg`,
      author: 'Санд И.',
      name: 'Чувство стыда',
      description: 'Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими',
      rating: '4.1',
      link: '#',
      pagesAmount: '170',
      width: '275',
      height: '320', 
    },
    {
      img: `${pathContentImg}book-second-life-big.jpg`,
      author: 'Несбё Ю.',
      name: 'Вторая жизнь Уве',
      description: 'Откуда берутся зануды и склочники? Внутри зреет обида на мир',
      rating: '4.4',
      link: '#',
      pagesAmount: '384',
      width: '275',
      height: '320', 
    },
    {
      img: `${pathContentImg}book-transhumanism.jpg`,
      author: 'Пелевин В.',
      name: 'Transhumanism inc.',
      description: 'В будущем богатые люди смогут отделить свой мозг от старящегося тела',
      rating: '3.9',
      link: '#',
      pagesAmount: '608',
      width: '275',
      height: '320', 
    },
  ]