-
  var reviews = [
    {
      img: `${pathContentImg}review-4.jpg`,
      name: 'Алексей Иванов',
      count: '23',
      review: 'Хорошая книга. Полна приключений, романтики, неплохих действующих героев. Вообщем всего, что нужно, чтобы хорошо провести время за чтением.',
      gender: 'male',
    },
    {
      img: `${pathContentImg}review-5.jpg`,
      name: 'Анна Кириллова',
      count: '50',
      review: 'Не ожидала многого от этой книги, купилась больше на красивую обложку, но была рада ошибиться. Обе книги прочитала дня за 3 или 4, уже не помню, так вчиталась!',
      gender: 'female',
    },
    {
      img: `${pathContentImg}review-6.jpg`,
      name: 'Мария Нагаева',
      count: '8',
      review: 'Очень нетипичный подход, учитывая, что фейри и железо слабо совместимы, но логика автора, позволившая формирование нового Двора, меня восхитила.',
      gender: 'female',
    },
  ]