-
  var reviews = [
    {
      img: `${pathContentImg}review-1.jpg`,
      name: 'Кирилл Агапьев',
      count: '35',
      review: 'Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так плюс к этому ещё и постоянные большие скидки!',
      gender: 'male',
    },
    {
      img: `${pathContentImg}review-2.jpg`,
      name: 'Елизавета Марьина',
      count: '76',
      review: 'Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят без задержек',
      gender: 'female',
    },
    {
      img: `${pathContentImg}review-3.jpg`,
      name: 'Полина Аленичева',
      count: '35',
      review: 'Удобный каталог, полезные отзывы на книги, так же есть видео обзоры на книги. Иногда можно приобрести дорогое издание за «символическую» цену.',
      gender: 'female',
    },
  ]