-
  var books = [
    {
      img: `${pathContentImg}a-life-of-pleasure.jpg`,
      author: 'Палиенко А.',
      name: 'Жизнь в удовольствие',
      description: 'Автор собрал в этой книге все свои знания, актуальные в современном мире',
      rating: '3.5',
      link: '#',
      pagesAmount: '208',
      width: '270',
      height: '320', 
    },
    {
      img: `${pathContentImg}book-kingdoms.jpg`,
      author: 'Несбё Ю.',
      name: 'Королевство',
      description: 'В норвежском городке, затерянном в горах, течет сонная, мирная жизнь',
      rating: '4.8',
      link: '#',
      pagesAmount: '576',
      width: '270',
      height: '320',  
    },
    {
      img: `${pathContentImg}book-transhumanism.jpg`,
      author: 'Пелевин В.',
      name: 'Transhumanism inc.',
      description: 'В будущем богатые люди смогут отделить свой мозг от старящегося тела',
      rating: '3.9',
      link: '#',
      pagesAmount: '608',
      width: '270',
      height: '320',  
    },
    {
      img: `${pathContentImg}book-feelings-of-shame.jpg`,
      author: 'Санд И.',
      name: 'Чувство стыда',
      description: 'Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими',
      rating: '4.1',
      link: '#',
      pagesAmount: '170',
      width: '270',
      height: '320',  
    },
  ]