mixin input(type, id, title, name, checked)
  .catalog-filter__box&attributes(attributes) 
    if type === "checkbox"
      input.catalog-filter__checkbox(id= id, type= type, name= id, checked= checked)
      label.catalog-filter__label(for= id)= title
    if type === "radio"
      input.catalog-filter__radio(id= id, type= type, name= name, value= id, checked= checked)
      label.catalog-filter__label(for= id)= title


.catalog-filter
  form.catalog-filter__form
    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Категория
      +input("checkbox", "fiction", "Художественная литература")
      +input("checkbox", "for-children", "Книги для детей")
      +input("checkbox", "education", "Образование", "", true)
      +input("checkbox", "science-and-technology", "Наука и техника")
      +input("checkbox", "society", "Общество")
      +input("checkbox", "business-literature", "Деловая литература")
      +input("checkbox", "health", "Здоровье")
      +input("checkbox", "hobby", "Увлечения", "", true)
      +input("checkbox", "psychology", "Психология")
      +input("checkbox", "esoterics", "Эзотерика")
      +input("checkbox", "philosophy", "Философия и религия")
      +input("checkbox", "art", "Искусство", "", true)
    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Статус
      +input("radio", "bestsellers", "Хиты продаж", "status").catalog-filter__box--radio
      +input("radio", "news-books", "Новинки", "status", true).catalog-filter__box--radio
      +input("radio", "preorder", "Предзаказ", "status").catalog-filter__box--radio
    fieldset.catalog-filter__fieldset
      p.catalog-filter__legend Наличие
      +input("radio", "in-the-shop", "В магазине", "availability").catalog-filter__box--radio
      +input("radio", "in-the-internet-shop", "В интернет-магазине", "availability", true).catalog-filter__box--radio
      +input("radio", "under-the-order", "Под заказ", "availability").catalog-filter__box--radio