-
  var books = [
    {
      img: `${pathContentImg}books-anxious-people.jpg`,
      author: 'Бакман Ф.',
      name: 'Тревожные люди',
      description: 'Целая галерея уязвимых персонажей, тонко подмеченная Бакманом человеческая природа',
      rating: '5.0',
      link: '#',
      pagesAmount: '416',
      width: '270',
      height: '320', 
    },
    {
      img: `${pathContentImg}book-sapiens.jpg`,
      author: 'Харари Ю.',
      name: 'Sapiens',
      description: 'Краткая история человечества. Какое будущее нас ожидает? Кто наши предки?',
      rating: '4.9',
      link: '#',
      pagesAmount: '520',
      width: '270',
      height: '320', 
    },
    {
      img: `${pathContentImg}book-institute.jpg`,
      author: 'Кинг С.',
      name: 'Институт',
      description: 'Бежать невозможно. Будущее предопределено. Загадочная Дальняя половина Института',
      rating: '4.8',
      link: '#',
      pagesAmount: '608',
      width: '270',
      height: '320', 
    },
    {
      img: `${pathContentImg}book-normal-peoples.jpg`,
      author: 'Руни С.',
      name: 'Нормальные люди',
      description: 'О желании ощутить власть над другим человеком и одновременно всецело принадлежать ему',
      rating: '4.7',
      link: '#',
      pagesAmount: '288',
      width: '270',
      height: '320', 
    },
  ]